.header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    margin: 10px;
}

.section {
    margin: 20px;
}

.headshot {
    width: 13vw;
    height: auto;
    border-radius: 110px;
}

.headerButton {
    margin: 5px;
    font-size: x-large;
}

.heading {
    font-size: 4vw;
}

.subTitle {
    font-weight: bold;
}
