.main {
    padding-left: 40px;
    padding-right: 40px;
    background-color: whitesmoke;
}

.section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.subTitle {
    font-weight: bold;
    padding-left: 20px;
}
