.main {
    padding-left: 40px;
    padding-right: 40px;
    background-color: whitesmoke;
}

.section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.subTitle {
    font-weight: bold;
    font-size: 14px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}
